# Compiled source #
###################
*.opendb
*.suo
*.user
*.filters
*.vcxproj
*.sln

# Packages #
############
.ipch

# Logs and databases #
######################
*.db

# Executable #
######################
*.exe
*.ilk
*.pdb

#files#
######################
.vs

